/*DigIT   Copyright 2016  Blake Williford  + Jacob Stafford */

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;	
}

p {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
color: #ddd;
font-family: 'Roboto', sans-serif;
font-weight: 200;

}

h4 {
color: #eee;
font-size: 24px;
font-style: italic;
font-weight: 200;
margin: 0 auto 30px auto;
text-align: center;	
}

ul {
	list-display-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
}

#intro {
	background-image: url('../images/intro-bg.jpg');
	background-attachment: cover;
	height: 1000px;
}

#intro-logo {
	padding-top: 100px;
	text-align: center;
	margin: auto;
}
#intro-button {
	margin-top: 100px;
	margin: auto;
	color: #fff;
	background-color: #222;
	height: 50px;
	width: 150px;
	line-height: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

#intro-button:hover {
	background-color: #333;
	transition-duration: 0.5s;
	
}

.label {

	line-height: 50px;
	width: 140px;
	padding: 0 20px 0 20px;
	height: 50px;
	color: #fff;
	font-family: 'Roboto', Sans-serif;
	text-transform: uppercase;
}


/*Header*/
#header {
	height: 60px;
	background-color: darkred;
	position: fixed;
	width: 100%;
	display: block;
	z-index: 5;
}

#logo {
	width: 200px;
	display: inline;
	float: left;
}

#nav ul {
	list-display-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	border-bottom: 4px solid rgba(255,255,255,0.3);
	width: 650px;
}

#nav li {
	display: inline;
	color: #ccc;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:100;
	line-height: 55px;
	padding: 23px 30px 17px 30px;
	width: 150px;
	margin-right: -4px;


}
#nav li.active {
	border-bottom: 5px solid rgba(255,255,255,1);
	color: #fff;
}
#nav li:hover {
	color: #fff;
	background-color: #770000;
	transition-duration: 0.5s;
}

#cart {
	float: right;
	display: inline;
	position: fixed;
	top: 5px;
	right: 0px;
	width: 60px;
	height: 60px;
	background: url('../images/thumb.svg') no-repeat top right;
	background-size: 50px;
	color: darkred;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

#directions {
	border-bottom: 1px solid rgba(255,255,255,0.2);	
	margin-bottom: 20px;
	padding-bottom: 10px;
}


#bg{
	background-image: url("../images/bg.jpg");
	background-color: #444;
	padding-top: 100px;
	background-attachment: fixed;
	min-height: 100%;
	background-repeat: repeat-y;
	overflow-y: hidden;
	
}
/*Spider*/
#spidergraphcontainer {
	background-color: rgba(0,0,0,0.3);
	
    width: 600px;
    height: 600px;
	position: relative;
    margin: 0 auto 0 auto;
    color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	float: left;
	margin-left: 90px;
	
}

#spidergraphcomparison {
    width: 600px;
    height: 600px;
	position: relative;
    margin: 0 auto 0 auto;
    color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 60px;
}

#product1 {
    width: 300px;
    height: 300px;
	position: relative;
    color: #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 60px;
}
#product2 {
    width: 300px;
    height: 300px;
	position: relative;
    color: #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 60px;
}
#product3 {
    width: 300px;
    height: 300px;
	position: relative;
    color: #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 60px;
}




#spidergraphcontainer:hover {
	cursor: pointer;
    cursor: hand;
}

#comp-spidergraphcontainer {
    width: 300px;
    height: 300px;
}


/*Facets*/
#facets {
	width: 20%;
	float: left;

	margin-left: 3%;
	margin-top: -20px;
}

facets ul,li {
	list-display-type: none;
	display: block;
}

.facet {
	padding: 30px 0;
	color: #444;
	font-family: 'Roboto', sans-serif;
}

.noUi-target {
	color: rgba(255,255,255,0.1);
	border: 0px solid #fff;
}



/*Products*/
#products {
	width: 70%;
	float: right;
	margin-right: 3%;
	margin-top: 40px;
	
}
.product {
	background-color: #FFF;
	min-height: 250px;
	margin-bottom: 50px;
}

.product img {
	padding: 30px;
	height: 200px;
	float: left;
}

.product-content {
	padding: 20px 100px 20px 0;
	
}

.product-content p{
	color: #000;
	 text-align: center;
	font-size: 14pt;
}

h3 {
	color: #222;
	font-size: 24px;
	
}
.close {
	float: right;
	background-color: #000;
	height: 50px;
	background-image: url('../images/x.png');
	background-size: 50px;
	width: 50px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.close:hover {
	color: red;
	background-color: red;
	transition-duration: 0.5s;
}

.dig-it-button {
	background: url('../images/thumb.svg') no-repeat center right;
	background-size: 40px;
	float: right;
	background-color: darkred;
	height: 50px;
	width: 150px;
	margin-right: 0px;
	margin-top: -100px;
	padding-left: 20px;
	color: #eee;
	font-size: 18px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 10px 30px rgba(200,0,0,0.3);
}

.dig-it-button:hover {
	color: #fff;
	background-color: #770000;
	transition-duration: 0.5s;
}

.break {
	clear: both;
	height: 40px;
}

.comp-product {
	width: 30%;
	margin-left: 3%;
	float: left;
	margin-bottom: 100px;
}


.comp-product p{
	color: #000;

}

.product-details {
padding: 30px;
background-color: #eee;
}

.com-image {
	background-size: cover;
	width: 400px; 
	height: 300px;
}

.purchase-it-button {
	background: url('../images/thumb.svg') no-repeat center right;
	background-size: 40px;
	float: right;
	background-color: darkred;
	height: 50px;
	width: 150px;
	margin-right: 0px;
	margin-top: -20px;
	padding-left: 20px;
	color: #eee;
	font-size: 18px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 10px 30px rgba(200,0,0,0.3);
}

.purchase-it-button:hover {
	color: #fff;
	background-color: #770000;
	transition-duration: 0.5s;
}

#footer {
	margin-top: 100px;
	color: #ddd;
	font-size: 18px;
	font-weight:100;
	padding: 0px 30px;
	border-top: 1px solid rgba(255,255,255,0.1);
	bottom:0;
}

